################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
.vs/*
.vs\*
.vs\
.vs/
**.vs\*
**.vs/*
!.vs\*
*.vs\*
*.vs/*
!.vs/*
*.suo
/.vs/*
/.vs/slnx.sqlite
