$margin-chat-modal: 3em;
.avatar-chat {

  .button {
    font-size: 16px;
    height: 48px;
    background-color: rgba(255, 255, 255, 1) !important;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
   
   
  }
  .chat-assistant {
    height: 32px;
    color: black;
  }
  .chat-user {
    height: 32px;
  }
  .avatar {

  }
}
.chat {
  aspect-ratio: 9/16;
  max-height: calc(100vh - $margin-chat-modal);
  background-color: white;
color: black;
  @include screenWidth($md) {
    width: calc(100vw - $margin-chat-modal);
    max-height: calc(100vh - $margin-chat-modal);
  }
  @include screenWidth($lg) {
    width: calc(30vw - $margin-chat-modal);
    max-height: calc(80vh - $margin-chat-modal);
  }

  .send {
    width: 100%;
  }
  &.scroll {
    flex-direction: column-reverse !important;
    scroll-behavior: smooth;
    overflow-y: auto;
  }
  .images {
    max-height: 10em;
  }
}
