@mixin screenWidth($minWidth) {
  @media (min-width: $minWidth) {
    @content
  }
}

$sm: 40rem;
$md: 48rem;
$lg:64rem;
$xl:80rem;

.box-chat{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.avatar {
  max-height: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  overflow: hidden;
  
  img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
  }
  &.jump {
    animation: jump 0.5s forwards ease-in-out;
  }
}
.box {
  border-radius: 8px;
  position: relative;
  &.bg-fade {
    background-color: rgba($color: #000000, $alpha: 0.5);
    div,
    p {
      color: white;
    }
  }
  &.flex {
    display: flex;
    gap: 6px;
    align-items: center;
  }
  &.flex-col {
    flex-direction: column;
  }
  &.bg-light {
    background-color: white;
  }
  &.padding {
    padding: 0.5em;
  }
  &.justify-center{
    justify-content: center;
  }
  &.full{
    width: 100%;
  }
  &.scroll{
    flex:1;
    overflow: auto;
  }
  &.row-reverse{
    flex-direction: row-reverse;
  }
  &.overflow-hidden{
    overflow: hidden;
  }
  &.items-end{
    align-items: end;
  }
}
.float {
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 10;
}
.absolute{
    position: absolute;
    inset: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.popup-animation {
  opacity: 0;
  transform: scale(0.5);
  animation: popup 0.5s ease-out forwards;
}
.hide{
    height: 0;
    overflow: hidden;
    display: none !important;
    transition: .1s;
}
.display{
    height: auto;
    overflow: hidden;
    transition: .1s;
}
.text{
  &.separate{
    font-size: 12px;
    color: gray;
    margin-top: -6px;
  }
}
@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  40% {
    opacity: 1;
    transform: scale(1.1);
  }
  70% {
    opacity: 1;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@import "./chat.scss";
